#ignore CMake Files
CMakeCache.txt
cmake_install.cmake
Makefile
makefile
CMakeFiles/*
compile

#ignore .swp
*.swp


#ignore help
help/*
#ignore executables
bin/*

#ignore test files used to make sure googletest works
test/tests.cpp
test/whattotest.cpp
